<td><a href="/databases/{{this.db}}" data-link="push" >{{this.db}}</a></td>
<td>{{humanizeByte this.dataSize}}</td>
<td>{{humanizeByte this.fileSize}}</td>
<td>{{humanizeCount this.collections}}</td>
<td>{{humanizeCount this.objects}}</td>