<td><a href="/databases/{{this.db}}" data-link="push" >{{this.db}}</a></td>
<td>{{humanizeByte this.dataSize}}</td>
<td>{{humanizeByte this.fileSize}}</td>
<td>{{humanizeCount this.collections}}</td>
<td>{{humanizeCount this.objects}}</td>
<td>
    <button type="button" class="btn btn-danger btn-xs js-delete">
        <span class="glyphicon glyphicon-trash"></span>
    </button>
</td>